section {
  /* Wrapper tag used to align the "filter" button with the form fields */
  display: flex;
  align-items: flex-start;
}

section button {
  /* Align the "Filter" button with the form fields */
  margin-top: 0.50em;
  padding: 0.38em    0   0.38em  0;
  width: 100px;
}



/******** L I G H T         M O D E  ***************/
.light .timeline-card {
  padding: 5px 0 5px 0;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+20,ffffff+45,009ffd+100 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(left,  #ffffff 20%, #ffffff 45%, #009ffd 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #ffffff 20%,#ffffff 45%,#009ffd 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #ffffff 20%,#ffffff 45%,#009ffd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#009ffd',GradientType=1 ); /* IE6-9 */
}

.light mat-card {
  border-radius: 4px;
}


/******** D A R K         M O D E  ***************/
.dark .timeline-card {
  padding: 5px 0 5px 0;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#303030+20,303030+40,111111+100 */
  background: #303030; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #303030 20%, #303030 40%, #111111 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #303030 20%,#303030 40%,#111111 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #303030 20%,#303030 40%,#111111 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303030', endColorstr='#111111',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.dark mat-card {
  /* Permalink - use to edit and share this gradient:
https://colorzilla.com/gradient-editor/#303030+20,303030+40,111111+100 */
  background: #303030; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #303030 20%, #303030 40%, #111111 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #303030 20%,#303030 40%,#111111 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #303030 20%,#303030 40%,#111111 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303030', endColorstr='#111111',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  border-radius: 0;
}


