.timeline-card {
  padding: 5px 0 5px 0;

  /* Permalink - use to edit and share this gradient:
https://colorzilla.com/gradient-editor/#ffffff+20,ffffff+45,009ffd+100 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(left,  #ffffff 20%, #ffffff 45%, #009ffd 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #ffffff 20%,#ffffff 45%,#009ffd 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #ffffff 20%,#ffffff 45%,#009ffd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#009ffd',GradientType=1 ); /* IE6-9 */
}

.timeline-footer {
  padding: 5px 0 5px 0;
  margin-left: 0;
  margin-right: 0;

  border-top: 1px solid rgba(0, 0, 0, 0.40);
}


section {
  /* Wrapper tag used to align the "filter" button with the form fields */
  display: flex;
  align-items: flex-start;
}

section button {
  /* Align the "Filter" button with the form fields */
  margin-top: 0.50em;
  padding: 0.38em    0   0.38em  0;
  width: 100px;
}

