<div fxFlexFill fxLayoutAlign="start start" fxLayout="row" fxLayoutGap="10px">



  <div fxFlex fxLayoutGap="0" style="overflow: auto">
    <!-- Left Column -->

    <div fxFill fxLayout="column">

      <mat-card id="titleSection" style="height: 300px">
        <!-- Section for Title -->
        <mat-card-title>Title Section</mat-card-title>

        <mat-card-content>
          This is the title section and it goes on an one

        </mat-card-content>

      </mat-card>


      <mat-card id="section1" style="height: 300px; margin-top: 15px">
        <!-- Section 1 -->
        <mat-card-title>Section 1</mat-card-title>

        <mat-card-content>
          Section 1 starts here it goes on an one

        </mat-card-content>

      </mat-card>


      <mat-card id="section2" style="height: 300px; margin-top: 15px">
        <!-- Section 2 -->
        <mat-card-title>Section 2</mat-card-title>

        <mat-card-content>
          Section 2 starts here it goes on an one

        </mat-card-content>

      </mat-card>


      <mat-card id="section3" style="height: 300px; margin-top: 15px">
        <!-- Section 3 -->
        <mat-card-title>Section 3</mat-card-title>

        <mat-card-content>
          Section 3 starts here it goes on an one

        </mat-card-content>

      </mat-card>
    </div>
  </div>


  <div fxFlex="200px">
    <!-- Right Column that is always 200 pixels wide -->
    <div class="fixed">

      <div fxLayout="column" fxFlexFill>
        <!-- Internal Navigation Links -->
        <ul>
          <li><a (click)="this.scrollToTarget('titleSection')" class="clickable">Title Section</a></li>
          <li><a (click)="this.scrollToTarget('section1')" class="clickable">Section 1</a></li>
          <li><a (click)="this.scrollToTarget('section2')" class="clickable">Section 2</a></li>
          <li><a (click)="this.scrollToTarget('section3')" class="clickable">Section 3</a></li>
        </ul>

      </div>

    </div>
  </div>


</div>
