<!-- Tab Group  -->
<mat-tab-group animationDuration="0ms">

  <!-- Advanced Search Tab -->
  <mat-tab label="Advanced Search">
    <div class="tab-content">
      <div style="height: 450px">
        <app-tab-advanced-search></app-tab-advanced-search>
      </div>
    </div>
  </mat-tab>

  <!-- Recent Searches Tab -->
  <mat-tab label="Recent Searches">
    <div class="tab-content">
      <div style="height: 450px">
        <app-tab-recent-searches></app-tab-recent-searches>
      </div>
    </div>
  </mat-tab>

  <!-- Help Tab -->
  <mat-tab label="Help">
    <div class="tab-content">
      <div style="height: 450px">
        <app-tab-help></app-tab-help>
      </div>
    </div>
  </mat-tab>

  <!-- Settings Tab -->
  <mat-tab label="Settings">
    <div class="tab-content">
      <div style="height: 450px">
        <app-tab-settings></app-tab-settings>
      </div>
    </div>
  </mat-tab>

</mat-tab-group>
