/* Removes the extra padding on the top of the form field */
/* Padding comes from the MAT_FORM_FIELD_DEFAULT_OPTIONS */
:host  ::ng-deep .mat-form-field-appearance-standard .mat-form-field-flex{
  padding-top: 0 !important;
}

:host  ::ng-deep .mat-form-field-infix {
  /* Adjust the drop down so it aligns with the "Drag & Drop Mode" button */
  padding-top: 7px !important;
}

.chart-content {
  height: 100% !important;    /* Needed to ensure the chart fills uses all of the height */
}

mat-card {
  /* Set spacing between cards */
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  overflow: hidden; /* Removing the vertical scroll bar */

  padding: 5px;    /* Reduce the padding so the chart uses-up more space in the card */
}
