<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">

  <div fxLayout="row" fxLayoutAlign="space-between stretch">
    <div fxFlex="50%">
      <!-- Left Side of Row 1 -->
      Page Title
    </div>

    <div fxFlex="50%"  fxLayoutAlign="end start">
      <!-- Right Side of Row 1-->
      Drop Downs
    </div>

  </div>

  <div>
    <!-- Row 2 -->
    Chart 1
  </div>

  <div>
    <!-- Row 3 -->
    Chart 2
  </div>

  <div>
    <!-- Row 4 -->
    Grid 1
  </div>

  <div>
    <!-- Row 5 -->
    Grid 2
  </div>
</div>
