
/**********   L I G H T      M O D E  **********/
.light .searchBox {
  width: 250px;     /* Set the width of the search box */
  padding: 6px 0 6px 10px;
  background-color: #dcdcdc;   /* light white color */
  border: 0;

  /* Remove the outline that appears when clicking in textbox */
  outline: none;
}


.light .searchBoxWrapper {
  background-color: #dcdcdc;
  border-radius: 8px;      /* Controls the rounded corners */
  border: 0;

  /* Center the search box and the icon */
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-left: 10px;
}


.light .searchBoxIcon {
  color: black;
  padding: 6px 6px 6px 1px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}




/**********   D A R K       M O D E  **********/
.dark .searchBox {
  width: 250px;     /* Set the width of the search box */
  padding: 6px 0 6px 10px;
  background-color: #111111;   /* light white color */
  color: white;
  caret-color: white;
  border: 0;

  /* Remove the outline that appears when clicking in textbox */
  outline: none;
}


.dark .searchBoxWrapper {
  background-color: #111111;
  caret-color: white;
  border-radius: 8px;      /* Controls the rounded corners */
  border: 0;

  /* Center the search box and the icon */
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-left: 10px;
}


.dark .searchBoxIcon {
  color: #dcdcdc;
  padding: 6px 6px 6px 10px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}


