[
    {
        "type":  "web-service",
        "name":  "App1",
        "config": {
            "container": {
                "instances": 1,
                "cores":     1,
                "memory":    900
            },
            "app": {
                "command": "java -Xms128m -Xmx1024m -jar webapp/backend-exec.jar --server.port=${HTTPS_PORT}"
            }
        }
    }
]
