<ng-container *ngIf="(this.listOfBannersObs | async) as listOfBanners">
  <!-- The REST endpoint to get the list of banners has finished loading.  So, display them (if there are any) -->

  <ng-container *ngIf="(listOfBanners != null) &&  (listOfBanners.length >= 1)">
    <!-- There are banners to display -->

    <div fxFlex fxLayout="column">
        <div fxFlex="20px" class="banner-style" fxLayoutAlign="center center">
          <span [@fadeInOut] *ngIf="this.showTextForAnimation" class="banner-style">
            <!-- Show the Banner -->
            <!-- NOTE: If there are multiple banners, then make this banner appear/disappear using animation  -->
            {{this.displayedBanner.message}}
          </span>
        </div>
    </div>

  </ng-container>

</ng-container>
