:host ::ng-deep .mat-tab-label{
  /* label style */
  color: white;
  width: 100%;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  margin: 5px;
}


:host ::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active  {
  color: white;
}

:host ::ng-deep .mat-tab-label.mat-tab-label-active:not(.mat-tab-disabled),
:host ::ng-deep .mat-tab-label.mat-tab-label-active.cdk-keyboard-focused:not(.mat-tab-disabled) {
  /* Set color when tab loses focus */

  /* Permalink - use to edit and share this gradient:
https://colorzilla.com/gradient-editor/#2a2a72+20,f1ca0a+22,f1ca0a+22,1876ab+24,2a2a72+47,2a2a72+53,1876ab+75,f1ca0a+76,2a2a72+80 */
  background: #2a2a72; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #2a2a72 20%, #f1ca0a 22%, #f1ca0a 22%, #1876ab 24%, #2a2a72 47%, #2a2a72 53%, #1876ab 75%, #f1ca0a 76%, #2a2a72 80%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #2a2a72 20%,#f1ca0a 22%,#f1ca0a 22%,#1876ab 24%,#2a2a72 47%,#2a2a72 53%,#1876ab 75%,#f1ca0a 76%,#2a2a72 80%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #2a2a72 20%,#f1ca0a 22%,#f1ca0a 22%,#1876ab 24%,#2a2a72 47%,#2a2a72 53%,#1876ab 75%,#f1ca0a 76%,#2a2a72 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2a72', endColorstr='#2a2a72',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  opacity: 1;
}


:host ::ng-deep .mat-tab-header{
  /* Set the default background color of the header */
  background-color: #2a2a72;
}


:host ::ng-deep .mat-tab-header, .mat-tab-nav-bar {
  border-bottom: 0;
}


:host ::ng-deep .mat-tab-label.mat-tab-label-active {
  /* Styles for the active tab label */
  border: 0;
}
