
::ng-deep .mat-tab-label{
  height: 100%;
  width: 100%;
  color: white;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
}


::ng-deep .mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, .mat-tab-group.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus, .mat-tab-nav-bar.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, .mat-tab-nav-bar.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus {
  background-color: #f5d020;
  background-image: linear-gradient(315deg, #f53803 0%, #f5d020 74%);
}


::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active  {
  background-color: #f5d020;
  background-image: linear-gradient(315deg, #f53803 0%, #f5d020 74%);
  color: white;
}


::ng-deep  .mat-tab-label.mat-tab-label-active {
  background-color: #f5d020;
  background-image: linear-gradient(315deg, #f53803 0%, #f5d020 74%);
}


::ng-deep.mat-tab-label.mat-tab-label-active:not(.mat-tab-disabled),
::ng-deep.mat-tab-label.mat-tab-label-active.cdk-keyboard-focused:not(.mat-tab-disabled) {
  /* Set color when tab loses focus */
  background-color: #f5d020;
  background-image: linear-gradient(315deg, #f53803 0%, #f5d020 74%);

  opacity: 1;
}

::ng-deep .mat-tab-header{
  /* Set the default background color of the header */
  background-color: #233329;
}

